## Set up

Load libraries and data.

In [1]:
import numpy as np
import pandas as pd
from nltk.tokenize.casual import TweetTokenizer
from sklearn.feature_extraction.text import CountVectorizer
import pickle
import scipy.sparse

In [2]:
# load datasets
train_df = pd.read_csv('../data/derived/tweets_supervised_train.csv')
dev_df   = pd.read_csv('../data/derived/tweets_supervised_dev.csv')
test_df  = pd.read_csv('../data/derived/tweets_supervised_test.csv')

Confirm datasets have expected size and format.

In [3]:
for df in [train_df, dev_df, test_df]:
    print(f'{len(df)} records.')

6497 records.
1393 records.
1396 records.

In [4]:
train_df.sample(3)

,tweet_id,text,label
4710,564664537132314624,@HumanistFury @Lesleywallace1 Feminist shirt n...,1
4398,575671613586194432,RT @Lyall: Bosom flattering #NoMorePage3 t-shi...,1
4571,469183346048630785,RT @ianaries: We are watching Battleships agai...,1

In [5]:
dev_df.sample(3)

,tweet_id,text,label
1192,564038623465447426,"@YTM1staWu1fy Sweden, man. The Swedish men ar...",1
1185,576205458471530496,@HumanistFury @Femitheist ...good luck to you ...,1
1042,575600266080165890,The blondes will get through cause they are yo...,1

In [6]:
test_df.sample(3)

,tweet_id,text,label
961,560652455734939650,"RT @p4ndiamond: i love equal rights, fuck men ...",1
844,575693025789243392,@dorolfe @lousycanuck @SallyStrange 1) Top tw...,1
160,575763554155917312,@t3dy you should bring those up with the mods....,0

## Tokenize text

Here, I lowercase and tokenize the text with NLTK's TweetTokenizer. In reality, this step of the analysis is done as part of vectorizing the data, but I added it here manually to explore the tokens created.

In [7]:
def tokenize_tweet_text(df):
    """
    Create tokenized text column in dataframe with text lowercased and then tokenized by NLTK's TweetTokenizer
    """
    
    # initialize tokenizer
    tokenizer = TweetTokenizer()
    # extract text
    text = df['text']
    # tokenize tweets and add to dataframe
    df['tokenized_text'] = [tokenizer.tokenize(t.lower()) for t in text]
    # reorder columns
    df = df[['tweet_id','text','tokenized_text','label']]
    
    return df

In [8]:
# tokenize text in datasets
train_df = tokenize_tweet_text(train_df)
dev_df   = tokenize_tweet_text(dev_df)
test_df  = tokenize_tweet_text(test_df)

Confirm tokens match expectation.

In [9]:
# preview dataframe
train_df.head()

,tweet_id,text,tokenized_text,label
0,573246882501148672,RT @mercurypixel: @freebsdgirl At this point.....,"[rt, @mercurypixel, :, @freebsdgirl, at, this,...",0
1,569200611415035904,plz stop posting pics of me that i posted a fe...,"[plz, stop, posting, pics, of, me, that, i, po...",0
2,564568918321147905,Been doing things. Going to have some pretty a...,"[been, doing, things, ., going, to, have, some...",0
3,573222765957816320,"hello grafana/graphite/statsd server, let's se...","[hello, grafana, /, graphite, /, statsd, serve...",0
4,564632454179213312,@sschinke @TsundereRager previous versions of ...,"[@sschinke, @tsundererager, previous, versions...",0

In [10]:
# write tokenized text to CSV
train_df.to_csv(path_or_buf='../data/derived/tweets_supervised_train_tokens.csv')
dev_df.to_csv(path_or_buf='../data/derived/tweets_supervised_dev_tokens.csv')
test_df.to_csv(path_or_buf='../data/derived/tweets_supervised_test_tokens.csv')

## Train count vectorizer

Here, I generate a bag of words representation of each tweet using sklearn's CountVectorizer on the tokenized tweet text. I do not remove stopwords, or remove words with a cutoff for high or low document frequency.

In [11]:
def train_vectorizer(df):
    """
    Train sklearn's CountVectorizer with text tokenized by NLTK's TweetTokenizer
    """
    
    # initialize vectorizer and tokenizer
    vectorizer = CountVectorizer(tokenizer = TweetTokenizer().tokenize)
    vectorizer.build_tokenizer()
    # fit vectorizer to text
    vectorizer.fit(df['text'])
    
    return vectorizer

In [12]:
# train vectorizer
count_vectorizer = train_vectorizer(train_df)

In [13]:
# save vectorizer
pickle.dump(count_vectorizer, open('../data/derived/count_vectorizer.pkl', 'wb'))

## Transform data into count vectors

In [14]:
def count_vectorize(count_vectorizer, df):
    """
    Use a trained CountVectorizer to transform text into count vectors
    """
    vectors = count_vectorizer.transform(df['text'])
    return vectors

In [15]:
# transform data into count vectors
train_vectors = count_vectorize(count_vectorizer, train_df)
dev_vectors   = count_vectorize(count_vectorizer, dev_df)
test_vectors  = count_vectorize(count_vectorizer, test_df)

Confirm vectors have expected format and shape.

In [16]:
for vectors in [train_vectors, dev_vectors, test_vectors]:
    print(f'{vectors.shape}    {type(vectors)}')

(6497, 14740)    <class 'scipy.sparse.csr.csr_matrix'>
(1393, 14740)    <class 'scipy.sparse.csr.csr_matrix'>
(1396, 14740)    <class 'scipy.sparse.csr.csr_matrix'>

In [17]:
# save vectors
scipy.sparse.save_npz('../data/derived/tweets_supervised_train_vectors_count.npz', train_vectors)
scipy.sparse.save_npz('../data/derived/tweets_supervised_dev_vectors_count.npz', dev_vectors)
scipy.sparse.save_npz('../data/derived/tweets_supervised_test_vectors_count.npz', test_vectors)